* {
	margin: 0;
	padding: 0;
}

.toggle {
    cursor: pointer;
}

.bar{
    position: absolute;
    top:15px;
    right:100px;
    opacity: 1;
    width:20px;
    height:5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 9px;
    z-index: 300;
    transition:0.6s ease;
}

.bar:nth-child(1){
    top: 15px;
}
.bar:nth-child(2),.bar:nth-child(3){
    top:20px;
}

.bar:nth-child(4){
    top: 25px;
}

.bar.open{
    position: absolute;
    top:20px;
    right:20px;
    opacity: 1;
    width:20px;
    height:5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 9px;
    z-index: 300;
    transition:0.6s ease;
}

.bar.open:nth-child(1){
    opacity: 0;
}
.bar.open:nth-child(2){
    transform: rotate(45deg);
}
.bar.open:nth-child(3){
    transform: rotate(-45deg);
}

.bar.open:nth-child(4){
    opacity: 0;
}

@media screen and (max-width:640px) {

    * {
        margin: 0;
        padding: 0;
    }

    .toggle {
        position: absolute;
        cursor: pointer;
        top:-12px;
        left:120px;
    }
    
    .bar{
        width:15px;
        height:5px;
        background-color: white;
        border: 2.3px solid black;
        border-radius: 9px;
        z-index: 300;
        transition:0.6s ease;
    }

    .bar:nth-child(1){
        top: 15px;
    }
    .bar:nth-child(2),.bar:nth-child(3){
        top:19px;
    }
    
    .bar:nth-child(4){
        top: 23px;
    }
    
    .bar.open{
        position: absolute;
        top:20px;
        left:0px;
        width:15px;
        background-color: red;
        border: 2.3px solid black;
        border-radius: 9px;
        z-index: 300;
        transition:0.6s ease;
    }
    
    .bar.open:nth-child(1){
        width: 0;
    }
    .bar.open:nth-child(2){
        transform: rotate(45deg);
    }
    .bar.open:nth-child(3){
        transform: rotate(-45deg);
    }
    
    .bar.open:nth-child(4){
        
        width: 0;
    }
    
}